.dockerignore
.git/
.gitignore
.github/
.clang-format
.claude/
.ci-local/
.editorconfig
.gitattributes
.mcp.json
.pre-commit-config.yaml
.ruff_cache/
.vscode/
.cache/

CODEOWNERS
LICENSE
README.md
doc

*.log
*.log_*
logs_*
*.patch
!patches/**/*.patch
!ecosystem/**/*.patch
*.diff
*.yuv
*.h264
*.pcapng
*.pcap
*.raw
*.dat
*.json
!kahawai.json
!tests/tools/RxTxApp/script/**/*.json
html/
/test.*
build/
*.a
*.app
*.cmd
*.d
!lib/src/mt_usdt_provider.d
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.so
*.so.*
*.su
*.x86_64
.tmp_versions/
dkms.conf
Mkfile.old
modules.order
Module.symvers
/core*
out*
assets/
*.pkg
*.jxs
*.mkv
*.pcm
*.wav
*.zip
*.gz
*.tar
mtl_system_status_*
*.pyc
*.mp4
tests/tools/RxTxApp/build
tests/acceptance/logs
tests/acceptance/report.html
tests/acceptance/report.json
/report.html
/report.json

scripts/dpdk
script/dpdk-*
script/dpdk_*
script/ice-*
script/xdp-tools
script/*.zip*

FFmpeg-release-*
ecosystem/librist/librsit
gpu_direct/subprojects/*
!gpu_direct/subprojects/gtest.wrap
gpu_direct/tests/fff.h
gpu_offline_install
level-zero-*
openh264*
/swig
_temp*
venv*
.local_install
local_install_old/
local_install_new/
