.dockerignore
.git/
.gitignore
.github/
.clang-format
.vscode/
.cache/

CODEOWNERS
LICENSE
README.md
doc

*.log
*.patch
*.diff
*.yuv
*.pcapng
*.pcap
*.raw
*.dat
*.json
!kahawai.json
html/
test.*
build/
core*
out*
assets/
*.pkg
*.jxs
*.mkv
*.zip
*.gz
*.tar
mtl_system_status_*
*.pyc
*.mp4