# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ours
.*
!.github/
!.github/**
*.log
*.log_*
logs_*
tests/validation/logs
*.patch
!patches/**/*.patch
!ecosystem/**/*.patch
*.diff
*.yuv
*.pcapng
*.pcap
*.raw
*.dat
*.json
html/
test.*
build/
out*
assets/
*.pkg
*.jxs
*.mkv
*.zip
*.gz
*.tar
mtl_system_status_*
*.pyc
*.mp4
*.pcm
*.wav
script/ice-*
script/dpdk-*
script/*.zip*
script/xdp-tools

#Generated documentation
doc/_build

# Gpu direct files
gpu_direct/tests/fff.h
gpu_direct/subprojects/*
!gpu_direct/subprojects/gtest.wrap
_temp*
gpu_offline_install

# Ecosystem
FFmpeg-release-*
script/dpdk_*
ecosystem/librist/librsit
tools/readpcap/readpcap_*
swig
openh264*
level-zero-*

venv*