{
    "unicast_ip_dict": {
        "tx_interfaces": "192.168.17.101",
        "rx_interfaces": "192.168.17.102",
        "tx_sessions": "192.168.17.102",
        "rx_sessions": "192.168.17.101"
    },
    "multicast_ip_dict": {
        "tx_interfaces": "192.168.17.101",
        "rx_interfaces": "192.168.17.102",
        "tx_sessions": "239.168.48.9",
        "rx_sessions": "239.168.48.9"
    },
    "kernel_ip_dict": {
        "tx_interfaces": "192.168.17.101",
        "rx_interfaces": "192.168.17.102",
        "tx_sessions": "127.0.0.1",
        "rx_sessions": "127.0.0.1"
    }
}