name: Ubuntu AF_XDP build

on:
  # allow manually trigger
  workflow_dispatch:
  push:
    branches:
      - main
      - 'maint-**'
  pull_request:
    branches:
      - main
      - 'maint-**'

env:
  # Customize the env if
  PKG_CONFIG_PATH: /usr/local/lib/pkgconfig:/usr/lib64/pkgconfig

permissions:
  contents: read

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      changed: ${{ steps.filter.outputs.afxdp_build == 'true' }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v2
        id: filter
        with:
          filters: .github/path_filters.yml

  build:
    needs: changes
   # if: ${{ github.repository == 'OpenVisualCloud/Media-Transport-Library' && needs.changes.outputs.changed == 'true' }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    container:
      image: ubuntu:latest
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c # v2.9.0
        with:
          egress-policy: audit

      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: DoozyX/clang-format-lint-action@v0.18.2 # v0.16
        with:
          source: '.'
          extensions: 'hpp,h,cpp,c,cc'

      - name: Install the build dependency
        run: |
          apt-get update -y
          apt-get install -y sudo git gcc meson python3 python3-pyelftools pkg-config libnuma-dev libjson-c-dev libpcap-dev libgtest-dev libsdl2-dev libsdl2-ttf-dev libssl-dev
          apt-get install -y make m4 clang llvm zlib1g-dev libelf-dev libcap-ng-dev gcc-multilib
          apt-get install -y dpdk-dev
          apt-get install -y systemtap-sdt-dev
        
      - name: Checkout xdp-tools
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          repository: 'xdp-project/xdp-tools'
          path: xdp-tools
          submodules: recursive

      - name: Build and install xdp-tools
        run: |
          cd xdp-tools && ./configure
          make && sudo make install
          cd lib/libbpf/src && sudo make install
         
      - name: Build
        run: |
          ./build.sh

      - name: Build with debug
        run: |
          rm build -rf
          ./build.sh debug
