name: Base Build

on:
  # allow manually trigger
  workflow_dispatch:
  push:
    branches:
      - main
      - 'maint-**'
  pull_request:
    branches:
      - main
      - 'maint-**'
env:
  SETUP_ENVIRONMENT: 1
  CICD_BUILD: 1
  SETUP_BUILD_AND_INSTALL_ICE_DRIVER: 0
  CICD_BUILD_BUILD_ICE_DRIVER: 0
  SETUP_BUILD_AND_INSTALL_DPDK: 1
  SETUP_BUILD_AND_INSTALL_EBPF_XDP: 0
  SETUP_BUILD_AND_INSTALL_GPU_DIRECT: 0
  HOOK_RUST: 1
  HOOK_PYTHON: 1
  ECOSYSTEM_BUILD_AND_INSTALL_FFMPEG_PLUGIN: 1
  ECOSYSTEM_BUILD_AND_INSTALL_GSTREAMER_PLUGIN: 1
  ECOSYSTEM_BUILD_AND_INSTALL_RIST_PLUGIN: 1
  ECOSYSTEM_BUILD_AND_INSTALL_MSDK_PLUGIN: 0 # not supported yet
  ECOSYSTEM_BUILD_AND_INSTALL_OBS_PLUGIN: 1

permissions:
  contents: read
jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      ubuntu_build: ${{ steps.filter.outputs.ubuntu_build == 'true' }}
      ice_build: ${{ steps.filter.outputs.ice_build == 'true' }}
      manager_build: ${{ steps.filter.outputs.manager_build == 'true' }}
      plugin_build: ${{ steps.filter.outputs.plugin_build == 'true' }}
      rust_build: ${{ steps.filter.outputs.rust_build == 'true' }}
      python_build: ${{ steps.filter.outputs.python_build == 'true' }}
      mtl_monitors_build: ${{ steps.filter.outputs.mtl_monitors_build == 'true' }}
      mtl_readcap_build: ${{ steps.filter.outputs.mtl_readcap_build == 'true' }}
      mtl_cpu_emulator_build: ${{ steps.filter.outputs.mtl_cpu_emulator_build == 'true' }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v2
        id: filter
        with:
          filters: .github/path_filters.yml
  
  ubuntu-build:
    needs: changes
    if: ${{ github.repository == 'OpenVisualCloud/Media-Transport-Library' && needs.changes.outputs.ubuntu_build == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build Release
        run: sudo -E .github/scripts/setup_environment.sh
        env:
          MTL_BUILD_AND_INSTALL: 1
      - name: 'upload release build artifacts'
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: mtl-release-bin
          path: '${{ github.workspace }}/build/'

  ubuntu-ebpf-xdp-build:
    needs: changes
    if: ${{ github.repository == 'OpenVisualCloud/Media-Transport-Library' && needs.changes.outputs.manager_build == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: ebpf-xdp build
        run: sudo -E .github/scripts/setup_environment.sh
        env:
          SETUP_BUILD_AND_INSTALL_EBPF_XDP: 1