name: Base Build

on:
  # allow manually trigger
  workflow_dispatch:
  push:
    branches:
      - main
      - 'maint-**'
  pull_request:
    branches:
      - main
      - 'maint-**'

permissions:
  contents: read
env: 
    DPDK_VERSION: 25.03
jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      changed: ${{ steps.filter.outputs.ubuntu_build == 'true' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v2
        id: filter
        with:
          filters: .github/path_filters.yml

  build:
    #needs: changes
    #if:${{ github.repository == 'OpenVisualCloud/Media-Transport-Library' && needs.changes.outputs.changed == 'true' }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    container:
      image: ubuntu:latest
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: DoozyX/clang-format-lint-action@v0.20
        with:
          clangFormatVersion: '14'
          source: '.'
          extensions: 'hpp,h,cpp,c,cc'

      - name: install DPDK
        uses: ./.github/actions/dpdk
        with:
          version: ${{ env.DPDK_VERSION }}

      - name: Git config
        working-directory: "${{ github.workspace }}"
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"

      - name: Build
        working-directory: "${{ github.workspace }}"
        run: |
          ./build.sh

      - name: 'upload release build artifacts'
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: mtl-release-bin
          path: '${{ github.workspace }}/build/'

      - name: Build with debug
        run: |
          rm build -rf
          ./build.sh debug

      - name: doxygen
        run: |
          cd doc/doxygen
          ./build-doc.sh
          cd ../../
