name: Coverity Scan

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  BUILD_TYPE: Release
  MTL_BUILD_DISABLE_PCAPNG: true
  PREFIX_DIR: /usr/local
  DEBIAN_FRONTEND: noninteractive
  GRPC_VERSION: v1.58.0
  GRPC_DIR: /tmp/grpc

permissions:
  contents: read

jobs:
  coverity:
    runs-on: 'ubuntu-22.04'
    timeout-minutes: 90
    steps:
    - name: 'Harden Runner'
      uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
      with:
        egress-policy: audit

    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      

    - name: 'Install dependencies'
      run: |
        sudo apt-get update -y && \
        sudo apt-get install -y --no-install-recommends \
            git build-essential meson python3 python3-pyelftools pkg-config \
            libnuma-dev libjson-c-dev libpcap-dev libgtest-dev libsdl2-dev \
            libsdl2-ttf-dev libssl-dev ca-certificates m4 clang llvm zlib1g-dev \
            libelf-dev libcap-ng-dev libcap2-bin gcc-multilib systemtap-sdt-dev ninja-build \
            nasm dpdk-dev librdmacm-dev && \
        sudo apt-get clean && \
        sudo rm -rf /var/lib/apt/lists/*

    - name: 'Run coverity'
      uses: vapier/coverity-scan-action@2068473c7bdf8c2fb984a6a40ae76ee7facd7a85 # v1.8.0
      with:
        project: 'Media-transport-Library'
        email: ${{ secrets.COVERITY_EMAIL }}
        token: ${{ secrets.COVERITY_TOKEN }}
        build_language: 'cxx'
        build_platform: 'linux64'
        working-directory: '${{ github.workspace }}'
        command: ./build.sh 
    - name: 'fetch results'
      uses: actions/download-artifact@v4
      with:
        path: '${{ github.workspace }}/cov-int'
        merge-multiple: true
        
