name: DPDK patches build

on:
  push:
    paths:
      - 'patches/dpdk/**'
      - .github/workflows/dpdk_patches_build.yml
  pull_request:
    paths:
      - 'patches/dpdk/**'
      - .github/workflows/dpdk_patches_build.yml

env:
  # Customize the env if
  DPDK_VERSION: 22.11

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    container:
      image: ubuntu:latest
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: checkout kahawai repo
      uses: actions/checkout@v3

    - name: checkout dpdk repo
      uses: actions/checkout@v3
      with:
        repository: 'DPDK/dpdk'
        ref: v${{  env.DPDK_VERSION  }}
        path: dpdk

    - uses: DoozyX/clang-format-lint-action@v0.14
      with:
        source: '.'
        extensions: 'hpp,h,cpp,c,cc'

    - name: Install the build dependency
      run: |
        apt-get update -y
        apt-get install -y sudo git gcc meson python3 python3-pip pkg-config libnuma-dev libjson-c-dev libpcap-dev libgtest-dev libsdl2-dev libsdl2-ttf-dev libssl-dev 

    - name: Install the python package
      run: pip install pyelftools ninja

    - name: Git config
      run: |
        git config --global user.email "you@example.com"
        git config --global user.name "Your Name"

    - name: Apply dpdk patches
      run: |
        cd dpdk
        git am ../patches/dpdk/${{  env.DPDK_VERSION  }}/*.patch

    - name: Build dpdk
      run: |
        cd dpdk
        meson build
        ninja -C build
        cd build
        sudo ninja install

    - name: Build
      run: |
        ./build.sh