name: gtest-bare-metal

on:
  # allow manually trigger
  workflow_dispatch:
    inputs:
      branch-to-checkout:
        type: string
        default: 'main'
        required: false
        description: 'Branch name to use'
  push:
    branches:
      - main
      - 'maint-**'
  pull_request:
    branches:
      - main
      - 'maint-**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  gtest-check-for-changes:
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: read
    outputs:
      changed: ${{ steps.filter.outputs.linux_tests == 'true' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v2
        id: filter
        with:
          filters: .github/path_filters.yml

  run-gtest-tests:
    needs: gtest-check-for-changes
    if: ${{ github.repository == 'OpenVisualCloud/Media-Transport-Library' }}
    strategy:
      matrix:
        nic:
          - e810
          - e810-dell
          - e830
      fail-fast: false
    runs-on: ${{ matrix.nic }}
    steps:
      - name: Harden Runner
        if: ${{ needs.gtest-check-for-changes.outputs.changed == 'true' && github.event_name != 'workflow_dispatch' }}
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      - name: Checkout MTL
        if: ${{ needs.gtest-check-for-changes.outputs.changed == 'true' && github.event_name != 'workflow_dispatch' }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: '${{ inputs.branch-to-checkout || github.sha || github.ref }}'

      - name: Install the build dependency
        if: ${{ needs.gtest-check-for-changes.outputs.changed == 'true' && github.event_name != 'workflow_dispatch' }}
        run: |
          sudo apt-get update -y && \
          sudo apt-get install -y \
              git gcc meson \
              python3-dev \
              python3-pyelftools \
              libjson-c-dev libpcap-dev libgtest-dev \
              libsdl2-dev libsdl2-ttf-dev libssl-dev \
              pkg-config libnuma-dev \
              systemtap-sdt-dev && \
          sudo apt-get autoremove -y

      - name: Build
        if: ${{ needs.gtest-check-for-changes.outputs.changed == 'true' && github.event_name != 'workflow_dispatch' }}
        run: |
          sudo su && ./build.sh
          sudo ldconfig

      - name: Check and build ice driver if needed
        run: |
          if ! sudo modinfo ice | grep -Ei '^version:[[:space:]]*Kahawai_'; then ./script/build_ice_driver.sh; fi

      - name: run gtest bare metal
        if: ${{ needs.gtest-check-for-changes.outputs.changed == 'true' && github.event_name != 'workflow_dispatch' }}
        env:
          NIGHTLY: 0
          EXIT_ON_FAILURE: 1
        run: sudo -E "${{ github.workspace }}/.github/scripts/gtest.sh"
