name: Windows MSYS2 build
on: [push, pull_request, workflow_call]

env:
  # FIXME: For some reason enabling jit debugging "fixes" random python crashes
  # see https://github.com/msys2/MINGW-packages/issues/11864 and
  # https://gitlab.gnome.org/GNOME/glib/-/merge_requests/3280#note_1678973
  MSYS: winjitdebug

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        sys:
          - mingw64
          - ucrt64
        dpdk: [22.11, 23.03]
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@cba0d00b1fc9a034e1e642ea0f1103c282990604 # v2.5.0
      with:
        egress-policy: audit

    - name: Install dependencies
      uses: msys2/setup-msys2@7efe20baefed56359985e327d329042cde2434ff # v2
      with:
        msystem: ${{matrix.sys}}
        update: true
        install: >-
          git
          base-devel
          unzip
        pacboy: >-
          openssl:p
          gcc:p
          meson:p
          pkg-config:p
          json-c:p
          libpcap:p
          gtest:p
          SDL2:p
          SDL2_ttf:p
          dlfcn:p

    - name: Install tools
      run: |
        wget https://nmap.org/npcap/dist/npcap-sdk-1.12.zip
        unzip -d npcap-sdk npcap-sdk-1.12.zip
        cp npcap-sdk/Lib/x64/* $MSYSTEM_PREFIX/lib/
        git clone https://github.com/alitrack/mman-win32
        cd mman-win32
        ./configure --prefix=$MSYSTEM_PREFIX
        make && make install

    - name: Checkout IMTL repo
      uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

    - name: Checkout DPDK repo
      uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      with:
        repository: 'DPDK/dpdk'
        ref: v${{matrix.dpdk}}
        path: dpdk
        clean: true

    - name: Convert symlink patch files to real file
      run: |
        cd patches/dpdk/${{matrix.dpdk}}
        ls *.patch | xargs -I{} bash -c 'if [[ $(sed -n '1p' "{}") =~ ^../.*\.patch$ ]]; then cp "$(cat "{}")" "{}"; fi'
        cd windows
        ls *.patch | xargs -I{} bash -c 'if [[ $(sed -n '1p' "{}") =~ ^../.*\.patch$ ]]; then cp "$(cat "{}")" "{}"; fi'
    
    - name: Apply patches for DPDK
      shell: bash
      run: |
        cd dpdk
        git config user.name github-actions
        git config user.email github-actions@github.com
        git am ../patches/dpdk/${{matrix.dpdk}}/*.patch
        git am ../patches/dpdk/${{matrix.dpdk}}/windows/*.patch

    - name: Build dpdk
      run: |
        cd dpdk
        meson setup build
        meson install -C build

    - name: Build
      run: |
        ./build.sh

    - name: Build with debug
      run: |
        rm build -rf
        ./build.sh debugonly

    - name: Build with TAP
      run: |
        meson setup tap_build -Denable_tap=true
        meson install -C tap_build
