name: Windows MSYS2 build
on: [push, pull_request, workflow_call]

env:
  # FIXME: For some reason enabling jit debugging "fixes" random python crashes
  # see https://github.com/msys2/MINGW-packages/issues/11864 and
  # https://gitlab.gnome.org/GNOME/glib/-/merge_requests/3280#note_1678973
  MSYS: winjitdebug

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        sys:
          - mingw64
          - ucrt64
        dpdk: [23.07, 23.03]
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - name: Install dependencies
        uses: msys2/setup-msys2@7efe20baefed56359985e327d329042cde2434ff # v2
        with:
          msystem: ${{matrix.sys}}
          update: true
          install: >-
            git
            base-devel
            unzip
          pacboy: >-
            openssl:p
            gcc:p
            meson:p
            json-c:p
            libpcap:p
            gtest:p
            SDL2:p
            SDL2_ttf:p
            dlfcn:p

      - name: Install npcap-sdk
        run: |
          wget https://nmap.org/npcap/dist/npcap-sdk-1.12.zip
          unzip -d npcap-sdk npcap-sdk-1.12.zip
          cp npcap-sdk/Lib/x64/* ${MSYSTEM_PREFIX}/lib/

      - name: Checkout IMTL code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Checkout mman-win32 code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          repository: 'alitrack/mman-win32'
          ref: master
          path: mman-win32

      - name: Build and install mman-win32
        run: |
          cd mman-win32
          ./configure --prefix=${MSYSTEM_PREFIX}
          make -j$(nproc) && make install

      - name: Convert patches for DPDK
        run: |
          cd patches/dpdk/${{matrix.dpdk}}
          ls *.patch | xargs -I{} bash -c 'if [[ $(sed -n '1p' "{}") =~ ^../.*\.patch$ ]]; then cp "$(cat "{}")" "{}"; fi'
          cd windows
          ls *.patch | xargs -I{} bash -c 'if [[ $(sed -n '1p' "{}") =~ ^../.*\.patch$ ]]; then cp "$(cat "{}")" "{}"; fi'

      - name: Hash DPDK patches
        id: hash-patches
        run: |
          HASH=$(sha1sum patches/dpdk/${{matrix.dpdk}}/*.patch patches/dpdk/${{matrix.dpdk}}/windows/*.patch | sha1sum | cut -d" " -f1)
          echo "hash=${HASH}"  >> $GITHUB_OUTPUT

      - name: Cache DPDK
        id: cache-dpdk
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        with:
          path: dpdk
          key: dpdk-${{ matrix.dpdk }}-${{ matrix.sys }}-${{ steps.hash-patches.outputs.hash }}

      - name: Checkout DPDK code
        if: ${{ steps.cache-dpdk.outputs.cache-hit != 'true' }}
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          repository: 'DPDK/dpdk'
          ref: v${{matrix.dpdk}}
          path: dpdk
          clean: true

      - name: Apply patches for DPDK
        if: ${{ steps.cache-dpdk.outputs.cache-hit != 'true' }}
        shell: bash
        run: |
          cd dpdk
          git config user.name github-actions
          git config user.email github-actions@github.com
          git am ../patches/dpdk/${{matrix.dpdk}}/*.patch
          git am ../patches/dpdk/${{matrix.dpdk}}/windows/*.patch

      - name: Build and install DPDK
        if: ${{ steps.cache-dpdk.outputs.cache-hit != 'true' }}
        run: |
          cd dpdk
          meson setup build -Dplatform=generic
          meson install -C build

      - name: Install cached DPDK
        if: ${{ steps.cache-dpdk.outputs.cache-hit == 'true' }}
        run: |
          cd dpdk
          meson install -C build

      - name: Build
        run: |
          ./build.sh

      - name: Build with debug
        run: |
          rm build -rf
          ./build.sh debugonly

      - name: Build with TAP
        run: |
          meson setup tap_build -Denable_tap=true
          meson install -C tap_build
