name: gtest

on:
  push:
    paths:
      - 'include/**'
      - 'lib/**'
      - 'patches/dpdk/**'
      - script/build_dpdk.sh
      - 'tests/**'
      - build.sh
      - kahawai.json
      - meson.build
      - meson_options.txt
      - VERSION
      - .github/workflows/ubuntu_build_with_gtest.yml
  pull_request:
    paths:
      - 'include/**'
      - 'lib/**'
      - 'patches/dpdk/**'
      - script/build_dpdk.sh
      - 'tests/**'
      - build.sh
      - kahawai.json
      - meson.build
      - meson_options.txt
      - VERSION
      - .github/workflows/ubuntu_build_with_gtest.yml

concurrency: 
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # Customize the env if
  BUILD_TYPE: Release
  DPDK_VERSION: 22.11

jobs:
  Build:
    if: github.repository == 'OpenVisualCloud/Media-Transport-Library'
    runs-on: [Ubuntu, self-hosted]
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v3

    - name: Install the build dependency
      run: |
        sudo apt-get update -y
        sudo apt-get install -y git gcc meson python3 python3-pip pkg-config libnuma-dev libjson-c-dev libpcap-dev libgtest-dev libsdl2-dev libsdl2-ttf-dev libssl-dev

    - name: Install the python package
      run: pip install pyelftools ninja

    - name: Build dpdk
      run: ./script/build_dpdk.sh ${{  env.DPDK_VERSION  }}

    - name: Build
      run: |
        ./build.sh
        sudo ldconfig

  Test:
    if: github.repository == 'OpenVisualCloud/Media-Transport-Library'
    needs: Build
    runs-on: [Ubuntu, self-hosted]
    steps:
      - name: Kill previous gtest routine
        run: |
          sudo killall -SIGINT KahawaiTest || true

      - name: Binding network adapter
        run: |
          sudo ./script/nicctl.sh bind_pmd 0000:31:00.0
          sudo ./script/nicctl.sh bind_pmd 0000:31:00.1
          sudo ./dpdk/usertools/dpdk-devbind.py -b vfio-pci 0000:00:01.0
          sudo ./dpdk/usertools/dpdk-devbind.py -b vfio-pci 0000:00:01.1

      - name: Run ufd test case
        run: |
          sudo ./build/tests/KahawaiUfdTest --p_port 0000:31:00.0 --r_port 0000:31:00.1

      - name: Run shared ufd test case
        run: |
          sudo ./build/tests/KahawaiUfdTest --p_port 0000:31:00.0 --r_port 0000:31:00.1 --queue_mode shared

      - name: Run st2100 test case
        run: |
          sudo ./build/tests/KahawaiTest --auto_start_stop --p_port 0000:31:00.0 --r_port 0000:31:00.1 --dma_dev 0000:00:01.0,0000:00:01.1
