name: gtest

on:
  push:
    paths:
      - 'include/**'
      - 'lib/**'
      - 'patches/dpdk/**'
      - 'tests/**'
      - build.sh
      - kahawai.json
      - meson.build
      - meson_options.txt
      - VERSION
      - .github/workflows/ubuntu_build_with_gtest.yml
  pull_request:
    paths:
      - 'include/**'
      - 'lib/**'
      - 'patches/dpdk/**'
      - 'tests/**'
      - build.sh
      - kahawai.json
      - meson.build
      - meson_options.txt
      - VERSION
      - .github/workflows/ubuntu_build_with_gtest.yml

concurrency: 
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # Customize the env if
  BUILD_TYPE: Release
  DPDK_VERSION: 22.11
  TEST_PORT_P: 0000:31:00.0
  TEST_PORT_R: 0000:31:00.1
  TEST_DMA_PORT_P: 0000:00:01.0
  TEST_DMA_PORT_R: 0000:00:01.1

jobs:
  Build:
    if: github.repository == 'OpenVisualCloud/Media-Transport-Library'
    runs-on: [self-hosted]
    timeout-minutes: 60

    steps:
    - name: checkout kahawai repo
      uses: actions/checkout@v3

    - name: checkout dpdk repo
      uses: actions/checkout@v3
      with:
        repository: 'DPDK/dpdk'
        ref: v${{  env.DPDK_VERSION  }}
        path: dpdk

    - name: Install the build dependency
      run: |
        sudo apt-get install -y git gcc meson python3 python3-pip pkg-config libnuma-dev libjson-c-dev libpcap-dev libgtest-dev libsdl2-dev libsdl2-ttf-dev libssl-dev

    - name: Install the python package
      run: pip install pyelftools ninja

    - name: Apply dpdk patches
      run: |
        cd dpdk
        git am ../patches/dpdk/${{  env.DPDK_VERSION  }}/*.patch

    - name: Build dpdk
      run: |
        cd dpdk
        meson build
        ninja -C build
        cd build
        sudo ninja install

    - name: Build
      run: |
        ./build.sh
        sudo ldconfig

  Test:
    if: github.repository == 'OpenVisualCloud/Media-Transport-Library'
    needs: Build
    runs-on: [self-hosted]
    steps:
      - name: Kill previous gtest routine
        run: |
          sudo killall -SIGINT KahawaiTest || true
          sudo killall -SIGINT KahawaiUfdTest || true

      - name: Binding network adapter
        run: |
          sudo ./script/nicctl.sh bind_pmd ${{  env.TEST_PORT_P  }} || true
          sudo ./script/nicctl.sh bind_pmd ${{  env.TEST_PORT_R  }} || true
          sudo ./dpdk/usertools/dpdk-devbind.py -b vfio-pci ${{  env.TEST_DMA_PORT_P  }} || true
          sudo ./dpdk/usertools/dpdk-devbind.py -b vfio-pci ${{  env.TEST_DMA_PORT_R  }} || true

      - name: Run ufd test case
        run: |
          sudo ./build/tests/KahawaiUfdTest --p_port ${{  env.TEST_PORT_P  }} --r_port ${{  env.TEST_PORT_R  }}

      - name: Run shared ufd test case
        run: |
          sudo ./build/tests/KahawaiUfdTest --p_port ${{  env.TEST_PORT_P  }} --r_port ${{  env.TEST_PORT_R  }} --queue_mode shared

      - name: Run shared ufd test case with lcore
        run: |
          sudo ./build/tests/KahawaiUfdTest --p_port ${{  env.TEST_PORT_P  }} --r_port ${{  env.TEST_PORT_R  }} --queue_mode shared --udp_lcore

      - name: Run ufd test case with rss
        run: |
          sudo ./build/tests/KahawaiUfdTest --p_port ${{  env.TEST_PORT_P  }} --r_port ${{  env.TEST_PORT_R  }} --queue_mode shared --rss_mode l4_dst_port_only

      - name: Run st2110 test case
        run: |
          sudo ./build/tests/KahawaiTest --auto_start_stop --p_port ${{  env.TEST_PORT_P  }} --r_port ${{  env.TEST_PORT_R  }} --dma_dev ${{  env.TEST_DMA_PORT_P  }},${{  env.TEST_DMA_PORT_R  }} --gtest_filter=-St22_?x.*

      - name: Run st2110 st20p test case with rss and tx_no_chain
        run: |
          sudo ./build/tests/KahawaiTest --p_port ${{  env.TEST_PORT_P  }} --r_port ${{  env.TEST_PORT_R  }} --dma_dev ${{  env.TEST_DMA_PORT_P  }},${{  env.TEST_DMA_PORT_R  }} --rss_mode l3_l4_dst_port_only --tx_no_chain --gtest_filter=Main.*:St20p.*
