# This file fixes the issue "Handling skipped but required checks".
# Now we can protect the main branch with gtest checks required.
# More info refer to https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks
name: gtest

on:
  push:
    paths-ignore:
      - 'include/**'
      - 'lib/**'
      - 'patches/dpdk/**'
      - 'tests/**'
      - build.sh
      - kahawai.json
      - meson.build
      - meson_options.txt
      - VERSION
      - .github/workflows/ubuntu_build_with_gtest.yml
      - .github/workflows/windows_build_with_gtest.yml
  pull_request:
    paths-ignore:
      - 'include/**'
      - 'lib/**'
      - 'patches/dpdk/**'
      - 'tests/**'
      - build.sh
      - kahawai.json
      - meson.build
      - meson_options.txt
      - VERSION
      - .github/workflows/ubuntu_build_with_gtest.yml
      - .github/workflows/windows_build_with_gtest.yml

permissions:
  contents: read

jobs:
  Build:
    if: github.repository == 'OpenVisualCloud/Media-Transport-Library'
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - run: 'echo "No gtest build required"'

  Test:
    if: github.repository == 'OpenVisualCloud/Media-Transport-Library'
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - run: 'echo "No gtest test required"'
