name: win_gtest

on:
  push:
    paths:
      - 'include/**'
      - 'lib/**'
      - 'ld_preload/**'
      - 'patches/dpdk/**'
      - 'tests/**'
      - build.sh
      - kahawai.json
      - meson.build
      - meson_options.txt
      - VERSION
      - .github/workflows/windows_build_with_gtest.yml
  pull_request:
    paths:
      - 'include/**'
      - 'lib/**'
      - 'ld_preload/**'
      - 'patches/dpdk/**'
      - 'tests/**'
      - build.sh
      - kahawai.json
      - meson.build
      - meson_options.txt
      - VERSION
      - .github/workflows/windows_build_with_gtest.yml

concurrency:
  group: win-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # Customize the env if
  BUILD_TYPE: Release
  DPDK_VERSION: 23.07
  TEST_PORT_P: 0000:af:00.0
  TEST_PORT_R: 0000:af:00.1

permissions:
  contents: read

jobs:
  Build_and_Test:
    if: github.repository == 'OpenVisualCloud/Media-Transport-Library'
    runs-on: [Windows, self-hosted]
    timeout-minutes: 60
    defaults:
      run:
        shell: C:\msys64\msys2_shell.cmd -ucrt64 {0}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - name: Update dependencies
        run: |
          pacman --noconfirm -Syuu
          pacman --noconfirm -S --needed --overwrite git base-devel unzip pactoys
          pacboy --noconfirm -S --needed openssl:p gcc:p meson:p pkg-config:p json-c:p libpcap:p gtest:p SDL2:p SDL2_ttf:p dlfcn:p

      - name: Checkout IMTL code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Checkout mman-win32 code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          repository: 'alitrack/mman-win32'
          ref: master
          path: mman-win32

      - name: Build and install mman-win32
        run: |
          cd mman-win32
          ./configure --prefix=${MSYSTEM_PREFIX}
          make -j$(nproc) && make install

      - name: Convert patches for DPDK
        run: |
          cd patches/dpdk/${{ env.DPDK_VERSION }}
          ls *.patch | xargs -I{} bash -c 'if [[ $(sed -n '1p' "{}") =~ ^../.*\.patch$ ]]; then cp "$(cat "{}")" "{}"; fi'
          cd windows
          ls *.patch | xargs -I{} bash -c 'if [[ $(sed -n '1p' "{}") =~ ^../.*\.patch$ ]]; then cp "$(cat "{}")" "{}"; fi'

      - name: Checkout DPDK code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          repository: 'DPDK/dpdk'
          ref: v${{ env.DPDK_VERSION }}
          path: dpdk
          clean: true
      
      - name: Apply patches for DPDK
        run: |
          cd dpdk
          git config user.name github-actions
          git config user.email github-actions@github.com
          for f in ../patches/dpdk/${{ env.DPDK_VERSION }}/*.patch; do patch -p1 < "$f"; done
          for f in ../patches/dpdk/${{ env.DPDK_VERSION }}/windows/*.patch; do patch -p1 < "$f"; done

      - name: Build and install DPDK
        run: |
          cd dpdk
          meson setup build
          meson install -C build

      - name: Build IMTL lib
        run: |
          meson setup build
          meson install -C build

      - name: Build gtest
        run: |
          cd tests
          meson setup build
          meson compile -C build

      - name: Kill previous gtest routine
        shell: cmd
        run: |
          taskkill /f /im KahawaiTest.exe || VER>NUL

      - name: Run st2110 test case
        run: |
          ./tests/build/KahawaiTest --auto_start_stop --p_port ${{  env.TEST_PORT_P  }} --r_port ${{  env.TEST_PORT_R  }} --gtest_filter=-St22_?x.*:*4320p*
